@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@700&display=swap');

body{
   /* background-image: url(./backgimg/bkg1.jpg); */
   background-repeat: no-repeat;
   background-size: cover;

}
/* -------------------------------------------------------------NAVBAR DEBUT------------------------------------------------------ */
.cadre{
   display: flex;
   flex-direction: row;
   justify-items: left;
   padding-bottom: 3%; 
   background-color: rgba(255, 255, 255, 0.527);
   

}
.sommaire{
   display: flex;
   width: 100%;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   color: white;
   font-family: 'Roboto', sans-serif;
}
.sommaire ul{
   display: flex;
   list-style-type: none;
   justify-content: space-between;
   width: 100%;
   color: white;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   
}
.sommaire a{
   text-decoration: none;
   color: rgb(10, 9, 9);
   width: 100%;

}
.sommaire h2:hover{
   color: #495746a9;
   transform: scale(1.2);
}

/* -------------------------------------------------------------NAVBAR FIN------------------------------------------------------- */



/* ----------------------------------------------------Caractere qui toggle l'affichage debut------------------------------------ */
.formDisplayCss{
   
   width: 35%;
   height: 65%;
   position: absolute;
   top: 20%;
   border-radius: 8px;
   backdrop-filter: blur(2px);
   background-color: rgba(255, 255, 255, 0.468);
   display: flex;
   justify-content: center;

}
.contentDiv{
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-6 {
   align-items: center;
   background-color: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: .25rem;
   box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   box-sizing: border-box;
   color: rgba(0, 0, 0, 0.85);
   cursor: pointer;
   display: inline-flex;
   
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 1.25;
   margin: 0;
   min-height: 3rem;
   padding: calc(.875rem - 1px) calc(1.5rem - 1px);
   position: relative;
   text-decoration: none;
   transition: all 250ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   width: auto;
   font-family: 'Roboto Slab', serif;
 }
 
 .button-6:hover,
 .button-6:focus {
   border-color: rgba(0, 0, 0, 0.15);
   box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
   color: rgba(0, 0, 0, 0.65);
 }
 
 .button-6:hover {
   transform: translateY(-1px);
 }
 
 .button-6:active {
   background-color: #F0F0F1;
   border-color: rgba(0, 0, 0, 0.15);
   box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
   color: rgba(0, 0, 0, 0.65);
   transform: translateY(0);
 }
 /* Button 6 */

.container{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto ;
   column-gap: 20px;
   row-gap: 20px;
   justify-content: space-evenly;
   

}

.grid{
   background-color: antiquewhite;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.displayGridImg img{
   width: 30%

}
.displayGridImg{
  height: 50%;
   display: flex;
   justify-content: center;

}
.grid p{
   

}
